/* Product.css */
#link-content {
    width: 600px;
    margin: 0 auto;
  }
  
  #header {
    padding: 34px 0 20px;
    overflow: hidden;
  }
  
 
  
  #description-box {
    clear: both;
    margin: 0 0 30px;
    font-size: 16px;
    line-height: 24px;
    background: rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    padding-bottom: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.05), 0 0 9px rgba(0, 0, 0, 0.1);
  }

  #description-box h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  #image-box {
    margin-top: 10px;
  }
  
  #large-form {
    position: relative;
    clear: both;
    background: #fff;
    padding: 30px 30px 34px;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.05), 0 0 9px rgba(0, 0, 0, 0.1);
  }
  
  #large-form h3 {
    color: #252a2e;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  #large-form label {
    padding-top: 9px;
    display: inline-block;
    width: 170px;
    font-size: 17px;
    line-height: 24px;
  }
  
  #large-form input {
    width: 330px;
  }
  
  #large-form button {
    color: #fff;
    padding: 11px 30px 12px;
    font-size: 17px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.4);
    background: #43a7ab;
    border: 1px solid #2b8c90;
  }
  
  #large-form button:hover {
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.4), 0 0 5px #43a7ab;
  }
  
  #large-form button:active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.4);
  }
  
  #large-form .bar {
    height: 4px;
    width: 100%;
    bottom: 0;
    left: -1px;
    padding-right: 2px;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
  }
  
  #preview_link {
    float: right;
    text-decoration: underline;
  }
  
  .product-image {
    max-width: 100%;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  .error-message {
    color: #c04355;
    font-weight: bold;
    margin-top: 20px;
  }
  

.checkout-form #large-form label {
    width: auto !important;
    margin-right: 10px;
  }

  .checkout-form #large-form input {
    padding: 5px;
    background-color: rgb(238, 238, 238);
    border-radius: 4px;
    width: 300px;
  }

  iframe {
    border: 1px solid rgb(243, 243, 243);

  }


  label#checkout {
    width: auto !important;
    margin-right: 10px;
  }

#description-box p {
  float: left;
  padding-bottom: 10px !important;
  margin-bottom: 10px !important;
}
